@model ModuloInventario.DBContext.BAJADEEQUIPOSVARIOS

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/ASIGNACIONCOMPUTADORES/Index.cshtml";
}

<h2>Edit</h2>

<h4>BAJADEEQUIPOSVARIOS</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SECUENCIAL" />
            <div class="form-group">
                <label asp-for="TIPO" class="control-label"></label>
                <input asp-for="TIPO" class="form-control" />
                <span asp-validation-for="TIPO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SECUANCIALPERSONA" class="control-label"></label>
                <input asp-for="SECUANCIALPERSONA" class="form-control" />
                <span asp-validation-for="SECUANCIALPERSONA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SECUANCIALINGRESOVARIOS" class="control-label"></label>
                <input asp-for="SECUANCIALINGRESOVARIOS" class="form-control" />
                <span asp-validation-for="SECUANCIALINGRESOVARIOS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
